
        <!--Content Section-->    
        <div id="services" class="scrollto clearfix" *ngIf="services">

          <div class="row no-padding-bottom clearfix">
            
             <div class ="img"><img src="assets/images/banner-images/spa-and-hammam.jpg" alt="Dancer"/></div>                
               
             
              <!--Content of the Right Side-->
              <div class="col-3">
                  <div class="section-heading">
                      <h3>{{services.tagline}}</h3>
                      <h2 class="section-title">{{services.title}}</h2>
                      <p class="section-subtitle">{{services.description}}</p>
                  </div>
                  <h1 style="margin-left: 23vw;width: 20vw;">Du 1er au 29 Février</h1>
                  <p><span style="font-size: 100%;"><strong style="color: #000000;font-size: 1vw;margin-left: 13vw;">Hammam</strong></span></p>
                  <p><span style="font-size: 130%;"><strong><span style="color: #000000;font-size: 1vw;margin-left: 10vw;"><span style="color: #333399;">Le Secret Du Hammam&nbsp;</span></span></strong></span></p>
                  <p><span style="font-size: 100%; color: #000000;font-size: 1vw;margin-left: 6vw;"><strong>Gommage traditionnel corps au savon noir</strong></span></p>
                  <p><span style="font-size: 100%;"><strong style="color: #000000;font-size: 1vw;margin-left: 5vw;">Doux savonnage&nbsp; «&nbsp;sous un nuage de mousse&nbsp;»&nbsp;</strong></span></p>
                  <p><span style="font-size: 100%; color: #000000;font-size: 1vw;margin-left: 2vw;"><strong>Massage relaxant du corps de 20 minutes aux huiles chaudes&nbsp;</strong></span></p>
                  <p><span style="color: #000000; font-size: 100%;font-size: 1vw;margin-left: 7vw;"><strong>Soin du visage Coup d’éclat Zeyna</strong></span></p>
                  <p><span style="font-size: 1vw;margin-left: 9vw;"><em>Suivi d’un thé à la menthe&nbsp;</em></span></p>
                  <p><span style="font-size: 1vw;margin-left: 10vw;"><span style="font-size: 1vw; color: #333399;"><b>98</b><b>€ </b></span> au lieu de&nbsp; 122€</span></p>
                  <span style="font-size: 1vw;margin-left: 30vw;"> <a href="{{plan.buttonlink}}" class="button">Buy now</a></span>
              </div>
              <!--End Content Right Side-->

             

          </div>


      </div>
      <!--End of Content Section-->